@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

body {
	font-family: "Outfit", sans-serif;
}

@theme colors {
	--color-primary: #000;
	--color-secondary: #fff;
	--color-accent: #e43c5a;
	--color-accent-foreground: #e43c5a;
}
