@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

body {
	font-family: "Outfit", sans-serif;
}

@theme colors {
	--color-primary: #0b1323;
	--color-secondary: #03163c;
	--color-ternary: #604e8c;
	--color-accent: #fffaf5;
	--color-highlight: #e43c5a;
	/* #EA580C */
	/* --color-accent: #fffdf6; */
	/* --color-accent-foreground: #e43c5a; */
}
